.titulo {
  margin-top: 20px;
  text-align: center;
  font-size: 3rem;
  color: blueviolet;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px blueviolet, 0 0 10px blueviolet;
  }
  to {
    text-shadow: 0 0 20px violet, 0 0 30px purple;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  padding: 20px;
  background-color: #111;
  color: white;
}

.footerLogo {
  width: 30px; 
  height: auto;
}